:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #7ED8F1;
  --color-bg-base: #D1F1FA;
  --color-bg-surface: #FFFFFF;
  --color-bg-highlight: #FFFFFF;
  --color-fg-shade: #3A454E;
  --color-fg-base: #495662;
  --color-fg-surface: #586776;
  --color-fg-highlight: #667889;
  --color-primary-bg: #C4D1DF;
  --color-primary-base: #698BAE;
  --color-primary-fg: #31455B;
  --color-secondary-bg: #F0E6E8;
  --color-secondary-base: #B5848E;
  --color-secondary-fg: #623B43;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 900px;
  --surface-shadow: 0px 0px 23px rgb(196, 209, 223), 0px 0px 23px rgb(197.41935483870967, 209.67741935483872, 223.29032258064515), 0px 0px 23px rgb(198.83870967741936, 210.3548387096774, 223.58064516129033), 0px 0px 23px rgb(200.25806451612902, 211.03225806451613, 223.8709677419355), 0px 0px 23px rgb(201.67741935483872, 211.70967741935485, 224.16129032258064), 0px 0px 23px rgb(203.09677419354838, 212.38709677419354, 224.4516129032258), 0px 0px 23px rgb(204.51612903225805, 213.06451612903226, 224.74193548387098), 0px 0px 23px rgb(205.93548387096774, 213.74193548387098, 225.03225806451613), 0px 0px 23px rgb(207.3548387096774, 214.41935483870967, 225.32258064516128), 0px 0px 23px rgb(208.7741935483871, 215.09677419354838, 225.61290322580646), 0px 0px 23px rgb(210.19354838709677, 215.7741935483871, 225.90322580645162), 0px 0px 23px rgb(211.61290322580646, 216.4516129032258, 226.19354838709677), 0px 0px 23px rgb(213.03225806451613, 217.1290322580645, 226.48387096774195), 0px 0px 23px rgb(214.4516129032258, 217.80645161290323, 226.7741935483871), 0px 0px 23px rgb(215.8709677419355, 218.48387096774192, 227.06451612903226), 0px 0px 23px rgb(217.29032258064515, 219.16129032258064, 227.3548387096774), 0px 0px 23px rgb(218.70967741935485, 219.83870967741936, 227.6451612903226), 0px 0px 23px rgb(220.1290322580645, 220.51612903225805, 227.93548387096774), 0px 0px 23px rgb(221.5483870967742, 221.19354838709677, 228.2258064516129), 0px 0px 23px rgb(222.96774193548387, 221.8709677419355, 228.51612903225808), 0px 0px 23px rgb(224.38709677419354, 222.5483870967742, 228.80645161290323), 0px 0px 23px rgb(225.80645161290323, 223.2258064516129, 229.09677419354838), 0px 0px 23px rgb(227.2258064516129, 223.90322580645162, 229.38709677419354), 0px 0px 23px rgb(228.6451612903226, 224.58064516129033, 229.67741935483872), 0px 0px 23px rgb(230.06451612903226, 225.25806451612902, 229.96774193548387), 0px 0px 23px rgb(231.48387096774195, 225.93548387096774, 230.25806451612902), 0px 0px 23px rgb(232.90322580645162, 226.61290322580646, 230.5483870967742), 0px 0px 23px rgb(234.32258064516128, 227.29032258064515, 230.83870967741936), 0px 0px 23px rgb(235.74193548387098, 227.96774193548387, 231.1290322580645), 0px 0px 23px rgb(237.16129032258064, 228.6451612903226, 231.41935483870967), 0px 0px 23px rgb(238.58064516129033, 229.32258064516128, 231.70967741935485), 0px 0px 23px rgb(240, 230, 232);
  --surface-borderRadius: 32px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 2;
}
